* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.container {
  width: 50%;
  height: 50%;
  background-color: #726868;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 5px 5px;
  .text {
    width: 100%;
    height: 30px;
  }
  button {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #2e2c2c;
    margin-top: 5px;
  }
}
